.navbar-default .navbar-nav > li > a {
    padding: 38px 15px 38px 15px;
}

.page-banner {
    padding: 100px 0;
}

    .page-banner h2, .page-banner p {
        color: white;
        font-weight: 600;
    }

.page-banner-main-title {
    color: white;
    font-size: 42px;
    /*font-family: 'Soria';*/
    line-height: 45px;
}

@media (max-width: 992px) {

    .page-banner-main-title {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {

    .primary-paragraph {
        text-align: justify !important;
    }
}

.header-custom-font {
    font-family: 'Soria' !important;
    font-size: 46px;
}

.header-custom-font-2{
    font-family: 'Open Sans', sans-serif;
    font-size: 46px;
}

.primary-paragraph {
    font-size: 16px;
    line-height: 27px;
}

.text-justify {
    text-align: justify;
}

.custom-large-button-wrapper {
    margin-top: 20px;
    text-align: center;
}

.custom-large-btn {
    padding: 10px 16px;
    font-size: 18px;
}

ul.breadcrumbs li a {
    color: white;
}

ul.breadcrumbs li {
    color: white;
}

p {
    color: black;
    font-weight: 400;
}

.slicknav_nav {
    margin-top: 92px;
}

ul li {
    color: black;
    font-weight: 400;
}

.our-clients-section {
    padding-bottom: 60px;
}

.alert-danger ul {
    list-style-type: square;
}

    .alert-danger ul li {
        margin-left: 25px;
        color: #a94442;
    }

#toast-container {
    z-index: 999999999;
}

    #toast-container > div {
        opacity: 1 !important;
    }

    #toast-container > .toast {
        background-image: none !important;
        opacity: 1 !important;
    }

        #toast-container > .toast:before {
            position: relative;
            font-family: FontAwesome;
            font-size: 20px;
            line-height: 18px;
            float: left;
            margin-left: -40px;
            color: #FFF;
            padding-right: 0.5em;
            margin-right: 0.5em;
        }

    #toast-container > .toast-error:before {
        content: "\f003";
    }

.form-group .help-block {
    display: none;
}

.form-group.has-error .help-block {
    display: block;
}

.label-akabi-form{
    padding: 0;
}
