.primary-paragraph {
    font-size: 17px;
    line-height: 27px;
}

.text-justify{
    text-align:justify;
}

.custom-large-button-wrapper {
    margin-top: 15px;
    text-align: center;
}

.custom-large-btn {
    padding: 10px 16px;
    font-size: 18px;
}

.section{
    padding-top: 60px;
    padding-bottom: 0;
}