.phone-contact-top-bar {
    margin-left: 5px;
}

.navbar-brand {
    padding-top: 5px;
    padding-bottom: 5px;
}

.header-logo {
    width: 100px;
}

@media screen and (max-width: 767px) {
    .slicknav_menu {
        margin-bottom: 30px;
    }
}
