.phone-contact-top-bar {
    margin-left: 5px;
}

.navbar-brand {
    padding-top: 5px;
    padding-bottom: 5px;
}

.header-logo {
    width: 100px;
}

@media screen and (max-width: 767px) {
    .slicknav_menu {
        margin-bottom: 30px;
    }
}

.gptw-small-logo-on-header {
    position: absolute;
    z-index: 9999;
    top: 4%;
    right: 1%;
    height: 89px;
}

@media screen and (max-width: 1100px) {
    .gptw-small-logo-on-header {
        display: none !important;
    }
}
