/*video home section*******************************/
#home-video {
    position: relative;
}

.gptw-small-logo-on-video {
    position: absolute;
    z-index: 9999;
    top: 5%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 1101px) {
    .gptw-small-logo-on-video {
        display: none !important;
    }
}

.home-bg-video--content {
    position: relative;
    text-align: center;
    color: #FFF !important;
    margin: 180px 0;
}

    .home-bg-video--content h1 {
        font-size: 60px;
        margin: 0 0 10px;
        color: #FFF !important;
    }

    .home-bg-video--content p {
        font-size: 20px;
        margin-top: 20px;
        color: #FFF !important;
    }

/*who we are section*******************************/
#who-we-are-section {
    background-color: #fbfbfb;
}

.who-we-are-left-side {
    padding: 60px 25px 10px 25px;
    justify-content: center;
}

.who-we-are-right-side {
    height: 400px;
    padding-left: 0;
    padding-right: 16px;
}

#services-section {
    background-color: #fbfbfb;
}

/*our values section*******************************/
#our-values-section {
    padding-bottom: 60px;
    background-color: #ffffff;
}

.our-values-widget {
    padding-left: 5px;
    padding-right: 5px;
}

    .our-values-widget > div {
        background-color: #fbfbfb;
        padding: 10px;
        border-radius: 10px;
        min-height: 160px;
    }

        .our-values-widget > div > h3 {
            text-align: center;
            margin-bottom: 15px;
        }

            .our-values-widget > div > h3 > i {
                margin-right: 10px;
            }

.wrapper-our-value {
    margin-bottom: 15px;
}

.wrapper-our-value-texts {
}

.wrapper-gptw-image {
    text-align: left;
}

.icon-quality {
    color: #CF0000;
}

.icon-transparency {
    color: #CF0000;
}

.icon-fun {
    color: #CF0000;
}

.our-location-individual-map-wrapper {
    text-align: center;
    padding: 10px;
}

    .our-location-individual-map-wrapper img {
        margin: 0 auto;
        height: 200px;
        padding: 10px 0;
    }

    .our-location-individual-map-wrapper h2 {
        color: white;
        font-size: 26px;
    }

    .our-location-individual-map-wrapper p {
        font-size: 17px;
        line-height: 27px;
        color: white;
        font-weight: 400;
    }

/*home common *******************************/
.big-title h1, .big-title h2 {
    font-size: 48px;
}

@media (min-width : 993px) and (max-width: 1086px) {
    .who-we-are-left-side {
        padding-top: 30px;
    }
}

@media screen and (max-width: 992px) {
    .who-we-are-left-side {
        padding-top: 0;
    }

    .our-values-widget {
        margin-bottom: 35px;
    }
}

@media (min-width : 480px) and (max-width: 992px) {
    .home-bg-video--content h1 {
        font-size: 40px;
    }

    .home-bg-video--content p {
        font-size: 15px;
    }

    .big-title h1, .big-title h2 {
        font-size: 34px;
    }

    .wrapper-gptw-image {
        text-align: center;
        margin-bottom: 25px;
    }

    .our-values-widget {
        padding-left: 15px;
        padding-right: 15px;
    }

    .who-we-are-left-side {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
}

@media only screen and (max-width : 480px) {
    .home-bg-video--content h1 {
        font-size: 30px;
    }

    .home-bg-video--content p {
        font-size: 15px;
    }

    .big-title h1, .big-title h2 {
        font-size: 30px;
    }



    .wrapper-gptw-image {
        text-align: center;
        margin-bottom: 25px;
    }

    .our-values-widget {
        padding-left: 15px;
        padding-right: 15px;
    }

    .who-we-are-left-side {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
}
