.our-company-banner {
    background: url('../images/office-581131(1).png') center #f9f9f9;
}

.our-story-section, .our-consultants-section {
    background-color: #fbfbfb;
}

.our-story-section, .our-mindset-section, .our-consultants-section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.our-company-img-section {
    padding-left: 10px;
}

    .our-company-img-section > img {
        max-height: 290px;
        margin-left: auto;
        margin-right: auto;
    }

@media (max-width: 768px) {

    .our-company-img-section > img {
        margin-top: 27px;
    }
}

.akabi-excellence-wrapper {
    background: url(../images/people-coffee-tea-meeting.jpg) no-repeat;
    background-attachment: fixed;
    padding: 170px 0;
}

.header-botton-page-section {
    margin-left: -135px;
}

    .header-botton-page-section > .header-number {
        font-size: 100px;
    }

    .header-botton-page-section > .header-second-part {
        margin-left: 238px;
    }


@media (max-width: 480px) {

    .header-botton-page-section {
        font-size: 30px !important;
    }
}

.mind-set-items {
    margin-top: 10px;
    margin-left: 15px;
}

.key-facts-container{
    padding-top: 30px;
}

.key-fact-wrapper {
    height: 100px;
    margin-bottom: 35px
}

.key-fact-title, .key-fact-label {
    color: white;
    display: block;
    height: 60px
}

.key-fact-title {
    font-size: 50px;
    font-weight: 100;
}

.key-fact-label {
    font-size: 16px;
    font-weight: 400;
}

.key-icon{
    margin-top: -10px;
    margin-bottom: 10px
}
