.our-company-banner {
    padding: 40px 0;
    background: url('../images/office-581131(1).png') center #f9f9f9;
}

    .our-company-banner h2 {
        color: white;
    }

    .our-company-banner p {
        color: white;
    }

.our-company-row-wrapper {
    background: #fbfbfb;
}

.our-company-row-img-wrapper {
    background: white;
    text-align: center;
    padding-right: 0;
    height: 400px;
}

    .our-company-row-img-wrapper > img {
        height: 100%;
        width: 100%;
    }

.our-story-img {
    max-width: 600px !important;
}

.our-company-row-text-wrapper {
    padding-top: 30px;
    padding-left: 25px;
    padding-right: 25px;
}

    .our-company-row-text-wrapper h1 {
        color: #444444;
        font-weight: 400;
    }

    .our-company-row-text-wrapper p {
        color: #444444;
        margin-bottom: 15px;
    }

.our-mission-wrapper {
    background: url(../images/people-coffee-tea-meeting.jpg) no-repeat;
    background-attachment: fixed;
    padding: 170px 0;
}
