<!-- Start Footer Section -->
<footer class="footer-container">
    <div class="container">
        <div class="row footer-widgets">

            <!-- Start Contact Widget -->
            <div class="col-md-4 col-xs-12">
                <div class="footer-widget contact-widget">
                    <h4 class="footer-header-logo">
                        <img src="~/Content/images/small-logo.png" class="img-responsive footer-img-logo" alt="Footer Logo" />
                    </h4>
                    <p>Our offices are located in Luxembourg and Belgium. Contact us!</p>
                    <ul>
                        <li><span>Luxembourg</span> +352 661 102 432</li>
                        <li><span>Belgium</span> +32 476 360 653</li>
                        <li><span>Email:</span> info@akabi.eu</li>
                    </ul>
                    @Html.ActionLink("Contact us", "Index", "ContactUs", null, new { @class = "btn btn-system btn-small" })
                </div>
            </div>
            <!-- .col-md-3 -->
            <!-- End Contact Widget -->

            <!-- Start Join Us Widget -->
            <div class="col-md-4 col-xs-12">
                <div class="footer-widget widget-join-us">
                    <h4>Join us!<span class="head-line"></span></h4>
                    <p>We are always looking for talented people to strengthen and expand our <strong>Business Intelligence</strong> and <strong>Development</strong> teams.</p>
                    <a href="Career/Index" class="btn btn-system btn-small">Check Out the careers<i class="fa fa-hand-o-right"></i></a>
                </div>
            </div>
            <!-- .col-md-3 -->
            <!-- End Join Us Widget -->

            <!-- Start Social Links Widget -->
            <div class="col-md-4 col-xs-12">
                <div class="footer-widget social-widget">
                    <h4>Follow Us<span class="head-line"></span></h4>
                    <p>Follow us in the Facebook and LinkedIn and stay tuned with all BI and Software Development related news.</p>
                    <ul class="social-icons">
                        <li>
                            <a class="facebook" target="_blank" href="https://www.facebook.com/Akabi-191315314301345/?fref=ts"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a class="linkdin" target="_blank" href="https://www.linkedin.com/company-beta/2488118/"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                    
                    <img class="img-responsive img-thumbnail pull-right" style="margin-bottom: 15px;" src="~/Content/images/tiny-logo-gptw.jpg" />

                </div>
            </div>
            <!-- .col-md-3 -->
            <!-- Social Links Widget -->
            
        </div>
        <!-- .row -->
        <!-- Start Copyright -->
        <div class="copyright-section">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; 2017 AkaBI S.a.rl - All Rights Reserved <a rel="nofollow" href="http://www.akabi.eu/">AkaBI</a> </p>
                </div>
                <!-- .col-md-6 -->
                <div class="col-md-6">
                    <ul class="footer-nav">
                        <li>
                            <a href="#">Sitemap</a>
                        </li>
                        <li>
                            <a href="#">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                        </li>
                    </ul>
                </div>
                <!-- .col-md-6 -->
            </div>
            <!-- .row -->
        </div>
        <!-- End Copyright -->
    </div>
</footer>
<!-- End Footer Section -->
