<!-- Start Header Section -->
<div class="hidden-header"></div>

<header class="clearfix">

    <!-- Start Top Bar -->
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <ul class="contact-details">
                        <li>
                            <a href="#">
                                <i class="fa fa-map-marker"></i> <strong>Belgium </strong>
                                <i class="fa fa-phone phone-contact-top-bar"></i> +32 476 360 653
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-map-marker"></i> <strong>Luxembourg </strong>
                                <i class="fa fa-phone phone-contact-top-bar"></i> +352 661 102 432
                            </a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-envelope-o"></i> info@akabi.eu</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-5">
                    <ul class="social-list">
                        <li>
                            <a class="facebook itl-tooltip" data-placement="bottom" title="Facebook" href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a class="linkdin itl-tooltip" data-placement="bottom" title="Linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Top Bar -->
    <!-- Start  Logo & Naviagtion  -->
    <div class="navbar navbar-default navbar-top">
        <div class="container">
            <div class="navbar-header">
                <!-- Stat Toggle Nav Link For Mobiles -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <!-- End Toggle Nav Link For Mobiles -->
                <a class="navbar-brand" href="index.html">
                    <img alt="" class="header-logo" src="~/Content/images/small-logo.png">
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <!-- Stat Search -->
                <div class="search-side">
                    <a class="show-search"><i class="fa fa-search"></i></a>
                    <div class="search-form">
                        <form autocomplete="off" role="search" method="get" class="searchform" action="#">
                            <input type="text" value="" name="s" id="s" placeholder="Search the site...">
                        </form>
                    </div>
                </div>
                <!-- End Search -->
                <!-- Start Navigation List -->
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="active" href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="about.html">Our Company</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                        <ul class="dropdown">
                            <li>
                                <a href="tabs.html">Business Inteligence</a>
                            </li>
                            <li>
                                <a href="buttons.html">Software Development</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="portfolio-3.html">Career</a>
                    </li>
                    <li>
                        <a href="blog.html">Offices</a>
                    </li>
                    <li>
                        <a href="contact.html">Contact Us</a>
                    </li>
                </ul>
                <!-- End Navigation List -->
            </div>
        </div>
        <!-- Mobile Menu Start -->
        <ul class="wpb-mobile-menu">
            <li>
                <a class="active" href="index.html">Home</a>
            </li>
            <li>
                <a href="about.html">Our Company</a>
            </li>
            <li>
                <a href="services.html">Services</a>
                <ul class="dropdown">
                    <li>
                        <a href="tabs.html">Business Inteligence</a>
                    </li>
                    <li>
                        <a href="buttons.html">Software Development</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="portfolio-3.html">Career</a>
            </li>
            <li>
                <a href="blog.html">Offices</a>
            </li>
            <li>
                <a href="contact.html">Contact Us</a>
            </li>
        </ul>
        <!-- Mobile Menu End -->
    </div>
    <!-- End Header Logo & Naviagtion -->


</header>
<!-- End Header Section -->
