<div class="section services">

    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <!-- Start Big Heading -->
                <div class="big-title text-center" data-animation="fadeInDown" data-animation-delay="01">
                    <h1>What we offer to our <strong>Clients</strong></h1>
                </div>
                <!-- End Big Heading -->
                <p class="text-center primary-paragraph">
                    We serve bussines in a big variety of areas using the <strong>consultancy</strong> approach. Providing IT Solutions related<br />
                    to <strong>Software Development</strong>, <strong>Business Intelligence</strong> and <strong>Data Warehouse</strong> topics.
                </p>
            </div>

        </div>

        <div class="row">
            <!-- Start Service Icon 1 -->
            <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="01">
                <div class="service-icon">
                    <i class="fa fa-database icon-large"></i>
                </div>
                <div class="service-content">
                    <h4>Master Data Management</h4>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat Lorem pariatur</p>
                </div>
            </div>
            <!-- End Service Icon 1 -->
            <!-- Start Service Icon 2 -->
            <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="01">
                <div class="service-icon">
                    <i class="fa fa-search-plus icon-large"></i>
                </div>
                <div class="service-content">
                    <h4>Data Quality</h4>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat Lorem pariatur</p>
                </div>
            </div>
            <!-- End Service Icon 2 -->
            <!-- Start Service Icon 3 -->
            <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="01">
                <div class="service-icon">
                    <i class="fa fa-rocket icon-large"></i>
                </div>
                <div class="service-content">
                    <h4>DB Tuning</h4>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat Lorem pariatur</p>
                </div>
            </div>
            <!-- End Service Icon 3 -->
            <!-- Start Service Icon 4 -->
            <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="01">
                <div class="service-icon">
                    <i class="fa fa-tachometer icon-large"></i>
                </div>
                <div class="service-content">
                    <h4>Dashboarding</h4>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat Lorem pariatur</p>
                </div>
            </div>
            <!-- End Service Icon 4 -->
            <!-- Start Service Icon 5 -->
            <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="01">
                <div class="service-icon">
                    <i class="fa fa-filter icon-large"></i>
                </div>
                <div class="service-content">
                    <h4>Data Mining</h4>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat Lorem pariatur</p>
                </div>
            </div>
            <!-- End Service Icon 5 -->
            <!-- Start Service Icon 6 -->
            <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="01">
                <div class="service-icon">
                    <i class="fa fa-pie-chart icon-large"></i>
                </div>
                <div class="service-content">
                    <h4>ETL</h4>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat Lorem pariatur</p>
                </div>
            </div>
            <!-- End Service Icon 6 -->
            <!-- Start Service Icon 7 -->
            <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="01">
                <div class="service-icon">
                    <i class="fa fa-files-o icon-large"></i>
                </div>
                <div class="service-content">
                    <h4>Reporting Tools</h4>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat Lorem pariatur</p>
                </div>
            </div>
            <!-- End Service Icon 7 -->
            <!-- Start Service Icon 8 -->
            <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="01">
                <div class="service-icon">
                    <i class="fa fa-code icon-large"></i>
                </div>
                <div class="service-content">
                    <h4>Software Development</h4>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat Lorem pariatur</p>
                </div>
            </div>
            <!-- End Service Icon 8 -->
        </div>
        <!-- .row -->
    </div>
    <!-- .container -->
</div>
