<div class="section purchase">
    <div class="container">
        <div class="section-video-content text-center">

            <h1 class="fittext wite-text uppercase">
                <strong>Where we are located</strong>
            </h1>

            <h1 class="fittext wite-text uppercase" style="font-weight:400">
                Our offices are located in the heart of Europe.
            </h1>

            <h1 class="fittext wite-text uppercase tlt">
                <span class="texts">
                    <span>Luxembourg</span>
                    <span>Belgium</span>
                </span>
            </h1>
        </div>
    </div>
</div>
