<div class="section purchase">
    <div class="container">
        <div class="section-video-content text-center">

            <h1 class="fittext wite-text uppercase">
                <strong>Where we are</strong>
            </h1>

            <h1 class="fittext wite-text uppercase" style="font-weight:400">
                Our offices are located in the heart of Europe.
            </h1>

            <h1 class="fittext wite-text uppercase tlt">
                <span class="texts">
                    <span>Luxembourg</span>
                    <span>Belgium</span>
                </span>
            </h1>
        </div>
        
        <div class="row">
            <div class="col-md-6 our-location-individual-map-wrapper">
                <img src="~/Content/images/luxembourg-white.png" class="img-responsive"/>

                <h2>AKABI Luxembourg</h2>

                <p>+352 661 102 432</p>
                <p>Rue Roger Wercollier, 15</p>
                <p>L-5890 - Hesperange</p>

            </div>
            <div class="col-md-6 our-location-individual-map-wrapper">
                <img src="~/Content/images/belgium-white.png" class="img-responsive"/>

                <h2>AKABI Belgium</h2>

                <p>+32 476 360 653</p>
                <p>Boulevard de la Cambre, 74</p>
                <p>B-1000 - Bruxelles</p>
            </div>
        </div>

        <div class="row custom-large-button-wrapper">
            @Html.ActionLink("More Info", "Index", "Offices", null, new { @class = "btn btn-system custom-large-btn" })
        </div>

    </div>
</div>
