<div id="our-values-section" class="section">
    <div class="container">

        <div class="row">
            <div class="col-md-7 col-md-offset-2 wrapper-our-value-texts">
                <!-- Start Big Heading -->
                <div class="big-title text-center" data-animation="fadeInDown" data-animation-delay="01">
                    <h1>Our <strong>values</strong> and <strong>culture</strong></h1>
                </div>
                <!-- End Big Heading -->
                <p class="text-center primary-paragraph">
                    AkaBI was born with a clear and well defined goal, <strong>offer top class services</strong> to our customers
                    <strong>and quality of life</strong> to our consultants. Accordingly, in a result-driven perspective,
                    we bring together customer-oriented approach and IT experts resources.
                </p>

                <p class="text-center primary-paragraph">
                    We are at the <strong>top best companies to work in Luxembourg</strong>,<br />
                    thanks to our culture and values: <strong>Develop people before develop IT.</strong>
                </p>
            </div>

            <div class="col-md-3 wrapper-gptw-image">
                <img class="img-responsive img-thumbnail" src="~/Content/images/small-logo-gptw.jpg" />
            </div>

        </div>

        <div class="row">

            <div class="col-md-4 our-values-widget">

                <div>
                    <h3><i class="fa fa-thumbs-o-up icon-quality" aria-hidden="true"></i> Quality</h3>

                    <p class="text-justify">
                        We prefer to invest in quality rather than in quantity, expressing realistic
                        and qualitative expansion of our company, 0 debt policy, among others.
                    </p>
                </div>

            </div>

            <div class="col-md-4 our-values-widget">

                <div>
                    <h3><i class="fa fa-eye icon-transparency" aria-hidden="true"></i> Transparency</h3>

                    <p class="text-justify">
                        We believe that a good communication in the base for a successful business. The collaboration between AkaBI, its
                        clients and consultants is based on a <strong>total transparent approach.</strong>
                    </p>
                </div>

            </div>

            <div class="col-md-4 our-values-widget">

                <div>
                    <h3><i class="fa fa-hand-peace-o icon-fun" aria-hidden="true"></i> Fun</h3>

                    <p class="text-justify">
                        At AkaBI, we believe that a good work environment, contribute for awesome results. Join the team
                        and be prepared to have a mix of professional work place with fun internal activities, travels and team events.
                    </p>

                </div>
            </div>

        </div>

        <div class="row custom-large-button-wrapper">
            @Html.ActionLink("Join the team!", "Index", "Career", null, new { @class = "btn btn-system custom-large-btn" })
        </div>

    </div>
</div>
