<div id="services-section" class="section">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <!-- Start Big Heading -->
                <div class="big-title text-center" data-animation="fadeInDown" data-animation-delay="01">
                    <h1>What we do</h1>
                </div>
                <!-- End Big Heading -->
                <p class="text-center primary-paragraph">
                    We provide expert IT advices to businesses , helping top companies to achieve their goals, especially in Business Intelligence and<br />
                    Software Development topics. We are able to do that thanks to our experts and our strong experiences.
                </p>
            </div>

        </div>

        <div class="row">
            <!-- Start Service Icon 1 -->
            <div class="col-md-4 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="01">
                <div class="service-icon">
                    <i class="fa fa-line-chart icon-large"></i>
                </div>
                <div class="service-content">
                    <h4>Business Intelligence</h4>
                </div>
            </div>
            <!-- End Service Icon 1 -->
            <!-- Start Service Icon 2 -->
            <div class="col-md-4 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="01">
                <div class="service-icon">
                    <i class="fa fa-file-code-o icon-large"></i>
                </div>
                <div class="service-content">
                    <h4>Software Development</h4>
                </div>
            </div>
            <!-- End Service Icon 2 -->
            <!-- Start Service Icon 3 -->
            <div class="col-md-4 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="01">
                <div class="service-icon">
                    <i class="fa fa-users icon-large"></i>
                </div>
                <div class="service-content">
                    <h4>IT Project Management</h4>
                </div>
            </div>
            <!-- End Service Icon 3 -->
        </div>

        <div class="row">
            <!-- Start Service Icon 6 -->
            <div class="col-md-4 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="01">
                <div class="service-icon">
                    <i class="fa fa-database icon-large"></i>
                </div>
                <div class="service-content">
                    <h4>Big Data</h4>
                </div>
            </div>
            <!-- Start Service Icon 4 -->
            <div class="col-md-4 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="01">
                <div class="service-icon">
                    <i class="fa fa-handshake-o icon-large"></i>
                </div>
                <div class="service-content">
                    <h4>Business Consulting</h4>
                </div>
            </div>
            <!-- End Service Icon 4 -->
            <!-- Start Service Icon 5 -->
            <div class="col-md-4 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="01">
                <div class="service-icon">
                    <i class="fa fa-cubes icon-large"></i>
                </div>
                <div class="service-content">
                    <h4>IT Strategy Consulting</h4>
                </div>
            </div>
            <!-- End Service Icon 5 -->
        </div>

    </div>
</div>
