<section id="home-video">
    <div class="home-bg-video jquery-background-video-wrapper">
        <video class="jquery-background-video" autoplay muted loop poster="~/Content/images/videoTest_013.jpg">
            <source src="~/Content/videos/videoTest.mp4" type="video/mp4">
            <source src="~/Content/videos/videoTest.webm" type="video/webm">
            <source src="~/Content/videos/videoTest.ogv" type="video/ogg" />
        </video>
        <div class="video-overlay"></div>
        <div class="page-width">
            <div class="home-bg-video--content">
                <h1>We deliver digital</h1>
                <p><strong>Our passion: Your ambition</strong></p>
            </div>
        </div>
    </div>
    
    <img class="img-responsive img-thumbnail gptw-small-logo-on-video" style="margin-bottom: 15px;" src="~/Content/images/tiny-logo-gptw.jpg" />

</section>
