<div id="who-we-are-section" class="section">

    <div class="row">

        <div class="col-md-6 who-we-are-left-side">
            <div class="big-title text-center" data-animation="fadeInDown" data-animation-delay="01">
                <h1>Who we are</h1>
            </div>
            <p class="text-justify primary-paragraph">
                AkaBI is an international IT consultancy company specialized in <strong><a href="Services/BiServices">Business Intelligence</a></strong> and <strong><a href="Services/DevelopmentServices">Software Development</a></strong>.
                We assist our clients with all their Digital Transformations by investing in our people. We're continuously bringing value to
                our customers for more than 5 years now, driven by to main objectives: <strong>quality and client's satisfaction</strong>.
            </p>

            <div class="custom-large-button-wrapper">
                @Html.ActionLink("See More", "Index", "OurCompany", null, new { @class = "btn btn-system custom-large-btn" })
            </div>
        </div>

        <div class="col-md-6 who-we-are-right-side">
            <img src="~/Content/images/team.jpg" class="img-rounded img-responsive" alt="Responsive image">
        </div>

    </div>

</div>
