<div class="our-clients-section">
    <div class="container">
        <div class="page-content">

            <div class="our-clients">

                <h4 class="classic-title"><span>Our Clients</span></h4>

                <div class="clients-carousel custom-carousel touch-carousel" data-appeared-items="5">

                    <div class="client-item item">
                        <a href="#"><img src="~/Content/images/baloise.logo.png" style="width:160px; height:50px;" alt="" /></a>
                    </div>

                    <div class="client-item item">
                        <a href="#"><img src="~/Content/images/pwc_logo.png" style="width:160px; height:40px;" alt="" /></a>
                    </div>

                    <div class="client-item item">
                        <a href="#"><img src="~/Content/images/INGMainLogo.jpg" style="width:160px; height:40px;" alt="" /></a>
                    </div>

                    <div class="client-item item">
                        <a href="#"><img src="~/Content/images/BGL_BL_Q1.jpg" style="width:160px; height:40px;" alt="" /></a>
                    </div>

                    <div class="client-item item">
                        <a href="#"><img src="~/Content/images/bcee_logo.jpg" style="width:160px; height:50px;" alt="" /></a>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
