@section pageCss{
    <link href="~/Content/css/our-company.css" rel="stylesheet" />
}

<div class="page-banner our-company-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Our Company</h2>
                <p>Meet AkaBI   </p>
            </div>
            <div class="col-md-6">
                <ul class="breadcrumbs">
                    <li><a href="Home">Home</a></li>
                    <li>Our Company</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="section our-story-section">
    <div class="container">
        <div class="row">

            <div class="col-sm-6 col-md-7">

                <!-- Classic Heading -->
                <h4 class="classic-title"><span>Our Story</span></h4>

                <!-- Some Text -->
                <p class="text-justify">
                    AkaBI is a young and entrepreneurial IT consultant company specialized in <strong>Business Intelligence</strong> and
                    <strong>Software Development</strong>. We started our activities in 2011 in Luxembourg, and in 2012, we expanded our
                    business to Belgium.
                </p>
                <br />
                <p class="text-justify">
                    <span style="color:#cf0000">AKA</span> means red in Japanese, which relates to challenge and passion,
                    that’s why we focus on quality and long-term relationships.
                </p>

            </div>

            <div class="col-sm-6 col-md-5 our-company-img-section">

                <img alt="" src="~/Content/images/black-and-white-city-man-people.jpg" class="img-rounded img-responsive">

            </div>

        </div>
    </div>
</div>

<div class="section our-mindset-section">
    <div class="container">
        <div class="row">

            <div class="col-sm-6 col-md-7 col-md-push-5">

                <!-- Classic Heading -->
                <h4 class="classic-title"><span>Our way of thinking</span></h4>

                <!-- Some Text -->
                <p class="text-justify">
                    We have an unique mindset based on our values and we want to transmit it to all our employees.
                    Our strategy is driven by focus on quality instead of quantity and it can be summarized in 3 points:<br />
                    
                    <ul class="mind-set-items">
                        <li><span class="fa fa-arrow-circle-right"></span> Ensure a healthy growth (no debts)</li>
                        <li><span class="fa fa-arrow-circle-right"></span> Ensure the personal and professional development to all our employees (no attrition)</li>
                        <li><span class="fa fa-arrow-circle-right"></span> Ensure the best services for our clients</li>
                    </ul>
                </p>
                <br />

            </div>

            <div class="col-sm-6 col-md-5 col-md-pull-7 our-company-img-section">

                <img alt="" src="~/Content/images/pexels-photo-348323.jpeg" class="img-rounded img-responsive">

            </div>

        </div>
    </div>
</div>

<div class="section our-consultants-section">
    <div class="container">
        <div class="row">

            <div class="col-sm-6 col-md-7">

                <!-- Classic Heading -->
                <h4 class="classic-title"><span>Our Consultants</span></h4>

                <!-- Some Text -->
                <p class="text-justify">
                    The junior hold at least a master degree and senior hold a diploma in higher education with at least 5 years of experience. They are all trained and coached to be up-to-date.
                    Most of them have also responsibilities into AkaBI structure (recruitment process, management, infrastructure, marketing/event lead, training proposals, technical studies, etc).
                </p>
                <br />
                <p class="text-justify">
                    We want that every consultants help us to build the company story.
                    Every initiative is studied and discussed. Everybody is an active actor of the development of the company.
                    There is also a place for trainees, junior and medior profiles offering our senior consultants the opportunity to gain experience in coaching and people management.
                </p>

            </div>

            <div class="col-sm-6 col-md-5 our-company-img-section">

                <img alt="" src="~/Content/images/signing-in-at-a-conference.jpg" class="img-rounded img-responsive">

            </div>

        </div>
    </div>
</div>

<div class="section akabi-excellence-wrapper">
    <div class="container">
        <div class="section-video-content text-center">

            <h1 class="fittext wite-text uppercase header-custom-font header-botton-page-section">
                <span class="header-number"><strong>5</strong></span><strong> years of</strong><br />
                <span class="header-second-part"><strong>excellence</strong></span>
            </h1>

        </div>

    </div>
</div>

@*<div id="content">
        <div class="container">
            <div class="page-content">

                <div class="our-clients">

                    <h4 class="classic-title"><span>Our Clients</span></h4>

                    <div class="clients-carousel custom-carousel touch-carousel" data-appeared-items="5">

                        <div class="client-item item">
                            <a href="#"><img src="~/Content/images/baloise.logo.png" style="width:160px; height:50px;" alt="" /></a>
                        </div>

                        <div class="client-item item">
                            <a href="#"><img src="~/Content/images/pwc_logo.png" style="width:160px; height:40px;" alt="" /></a>
                        </div>

                        <div class="client-item item">
                            <a href="#"><img src="~/Content/images/INGMainLogo.jpg" style="width:160px; height:40px;" alt="" /></a>
                        </div>

                        <div class="client-item item">
                            <a href="#"><img src="~/Content/images/BGL_BL_Q1.jpg" style="width:160px; height:40px;" alt="" /></a>
                        </div>

                        <div class="client-item item">
                            <a href="#"><img src="~/Content/images/bcee_logo.jpg" style="width:160px; height:50px;" alt="" /></a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>*@


