@section pageCss{
    <link href="~/Content/css/bi-services.css" rel="stylesheet" />
}

<div class="page-banner bi-services-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h2>Services</h2>
                <p>Business Intelligence</p>
            </div>

            <div class="col-md-6" style="text-align: center">
                <h1 class="page-banner-main-title" data-animation="fadeInDown" data-animation-delay="01">
                    <strong>Transform you data into a powerful allied</strong>
                </h1>
            </div>

            <div class="col-md-3">
                <ul class="breadcrumbs">
                    <li><a href="Home">Home</a></li>
                    <li>BI Services</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Start Big Heading -->
                <div class="big-title text-center" data-animation="fadeInDown" data-animation-delay="01">
                    <h1><strong>What we offer</strong></h1>
                </div>

                <p class="text-center primary-paragraph">
                    We do <strong>Business Intelligence</strong> since the beginning of the company, BI is on our DNA.<br />
                    To be a BI global partner, we have chosen to accompany our clients on their global <strong>decision making processes</strong>. In the order to be more relevant, <br />
                    we make also the choice to be an <strong>Agnostic Vendor </strong>. Our objective is to have the most experience and expertise possible on the various BI tools.
                </p>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h4 class="classic-title"><span>Our BI Expertise</span></h4>

                <div class="row">

                    <div class="col-md-4 service-box service-icon-left-more">
                        <div class="service-icon">
                            <i class="fa fa-database icon-medium"></i>
                        </div>
                        <div class="service-content">
                            <h4>Database</h4>
                            <p>Oracle, Microsoft SQL Server, Teradada and Sysbase are one of our specialties.</p>
                        </div>
                    </div>


                    <div class="col-md-4 service-box service-icon-left-more">
                        <div class="service-icon">
                            <i class="fa fa-retweet icon-medium"></i>
                        </div>
                        <div class="service-content">
                            <h4>ETL</h4>
                            <p>
                                We provide solutions to <strong class="accent-color">E</strong>xtract,
                                <strong class="accent-color">T</strong>ransform and <strong class="accent-color">L</strong>oad your data,
                                so you can use it in your favor.
                            </p>
                        </div>
                    </div>


                    <div class="col-md-4 service-box service-icon-left-more">
                        <div class="service-icon">
                            <i class="fa fa-files-o icon-medium"></i>
                        </div>
                        <div class="service-content">
                            <h4>Reporting Tools</h4>
                            <p>SAP (BO), Micro-strategy, MS Reporting Services, Oracle BI, Cognos, Qlikview and SAS.</p>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>

<div class="section other-bi-services">
    <div class="col-md-6 col-sm-12 col-xs-12 text-side">
        @*<p class="text-justify primary-paragraph">
                We deliver services in a consultancy approach, from one day to one year, or in a project<br />
                approach (audit, proof of concept, technical or/and functional analysis, tool comparison and end-to-end solutions).
            </p>*@

        <div class="col-md-6 col-sm-6 col-xs-12 animated fadeIn delay-01" data-animation="fadeIn" data-animation-delay="01">
            <div class="icon-wrapper">
                <i class="fa fa-leaf icon-large"></i>
            </div>
            <div class="icon-description">
                <h4>MDM</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. It has survived not duic</p>
            </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12 animated fadeIn delay-01" data-animation="fadeIn" data-animation-delay="01">
            <div class="icon-wrapper">
                <i class="fa fa-leaf icon-large"></i>
            </div>
            <div class="icon-description">
                <h4>Data Quality</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. It has survived not duic</p>
            </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12 animated fadeIn delay-01" data-animation="fadeIn" data-animation-delay="01">
            <div class="icon-wrapper">
                <i class="fa fa-leaf icon-large"></i>
            </div>
            <div class="icon-description">
                <h4>DB Tuning</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. It has survived not duic</p>
            </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12 animated fadeIn delay-01" data-animation="fadeIn" data-animation-delay="01">
            <div class="icon-wrapper">
                <i class="fa fa-leaf icon-large"></i>
            </div>
            <div class="icon-description">
                <h4>Dashboarding</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. It has survived not duic</p>
            </div>
        </div>

    </div>
    <div class="col-md-6 col-sm-12 col-xs-12 img-side">
        <img class="img-responsive" src="~/Content/images/pexels-photo-106344.jpeg" />
    </div>
</div>

@Html.Partial("_OurClients")


@*<div class="row services-wrapper">
        <div class="col-md-12">
            <p class="text-center primary-paragraph">
                We deliver services in a consultancy approach, from one day to one year, or in a project<br />
                approach (audit, proof of concept, technical or/and functional analysis, tool comparison and end-to-end solutions).
            </p>
        </div>
    </div>*@