@section pageCss{
    <link href="~/Content/css/services.css" rel="stylesheet" />
}

<div class="page-banner bi-services-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h2>Services</h2>
                <p>Business Intelligence</p>
            </div>

            <div class="col-md-6" style="text-align: center">
                <h1 class="page-banner-main-title" data-animation="fadeInDown" data-animation-delay="01">
                    <strong>Transform you data into a powerful allied</strong>
                </h1>
            </div>

            <div class="col-md-3">
                <ul class="breadcrumbs">
                    <li><a href="Home">Home</a></li>
                    <li>BI Services</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <!-- Start Big Heading -->
                <div class="big-title text-center" data-animation="fadeInDown" data-animation-delay="01">
                    <h1><strong>What we offer</strong></h1>
                </div>

                <p class="text-center primary-paragraph">
                    We do <strong>Business Intelligence</strong> since the beginning of the company, BI is on our DNA.
                    To be a BI global partner, we have chosen to accompany our clients on their global <strong>decision making processes</strong>. In the order to be more relevant,
                    we also made the choice to be an <strong>Agnostic Vendor </strong>, meaning that, we seek to have a comprehensive knowledge in different types of BI tools.
                </p>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h4 class="classic-title"><span>Our technical expertise</span></h4>

                <div class="row">

                    <div class="col-md-4 service-box service-icon-left-more">
                        <div class="service-icon">
                            <i class="fa fa-database icon-medium"></i>
                        </div>
                        <div class="service-content">
                            <h4>Database</h4>
                            <p>Oracle, Microsoft SQL Server, Teradada and Sysbase are one of our specialties.</p>
                        </div>
                    </div>


                    <div class="col-md-4 service-box service-icon-left-more">
                        <div class="service-icon">
                            <i class="fa fa-retweet icon-medium"></i>
                        </div>
                        <div class="service-content">
                            <h4>ETL</h4>
                            <p>
                                We provide solutions to <strong class="accent-color">E</strong>xtract,
                                <strong class="accent-color">T</strong>ransform and <strong class="accent-color">L</strong>oad your data,
                                so you can use it in your favor.
                            </p>
                        </div>
                    </div>


                    <div class="col-md-4 service-box service-icon-left-more">
                        <div class="service-icon">
                            <i class="fa fa-files-o icon-medium"></i>
                        </div>
                        <div class="service-content">
                            <h4>Reporting Tools</h4>
                            <p>SAP (BO), Micro-strategy, MS Reporting Services, Oracle BI, Cognos, Qlikview and SAS.</p>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>

<div class="section other-services">
    <div class="col-md-6 col-sm-12 col-xs-12 text-side">
        <h3>
            DATA WAREHOUSE & BI SERVICES
        </h3>

        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 animated fadeIn delay-01" data-animation="fadeIn" data-animation-delay="01">
                <div class="icon-wrapper">
                    <i class="fa fa-th icon-medium"></i>
                </div>
                <div class="icon-description">
                    <h4>MDM</h4>
                    <p>
                        Support better your business applying good practices of processes, governance, policies and
                        standards when managing critical data into your company.
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12 animated fadeIn delay-01" data-animation="fadeIn" data-animation-delay="01">
                <div class="icon-wrapper">
                    <i class="fa fa-check-circle icon-medium"></i>
                </div>
                <div class="icon-description">
                    <h4>Data Quality</h4>
                    <p>
                        We help you maintain a solid repository for your data, always aiming
                        to have an <strong>accurate, reliable</strong> and <strong>always accessible</strong> data.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 animated fadeIn delay-01" data-animation="fadeIn" data-animation-delay="01">
                <div class="icon-wrapper">
                    <i class="fa fa-rocket icon-medium"></i>
                </div>
                <div class="icon-description">
                    <h4>DB Tuning</h4>
                    <p>
                        <strong>Optimize</strong> and <strong>homogenize</strong> the performance of your
                        databases in order to <strong>maximize</strong> the use of system resources to perform <strong>work efficiently</strong>.
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12 animated fadeIn delay-01" data-animation="fadeIn" data-animation-delay="01">
                <div class="icon-wrapper">
                    <i class="fa fa-tachometer icon-medium"></i>
                </div>
                <div class="icon-description">
                    <h4>Dashboarding</h4>
                    <p>
                        We help you build your on personalized BI dashboard, so you can track relevant info,
                        such as KPIs, metrics and other key data points relevant to your business.
                    </p>
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-6 col-sm-12 col-xs-12 img-side">
        <img class="img-responsive" src="~/Content/images/pexels-photo-106344.jpeg" />
    </div>
</div>

@Html.Partial("_OurClients")
