@section pageCss{
    <link href="~/Content/css/dev-services.css" rel="stylesheet" />
}

<div class="page-banner dev-services-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Services</h2>
                <p>Business Innovation</p>
            </div>
            <div class="col-md-6">
                <ul class="breadcrumbs">
                    <li><a href="Home">Home</a></li>
                    <li>Business Innovation</li>
                </ul>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_OurClients")