@section pageCss{
    <link href="~/Content/css/services.css" rel="stylesheet" />
}

<div class="page-banner dev-services-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h2>Services</h2>
                <p>Innovation Development</p>
            </div>

            <div class="col-md-6" style="text-align: center">
                <h1 class="page-banner-main-title" data-animation="fadeInDown" data-animation-delay="01">
                    <strong>Leverage your business with innovation</strong>
                </h1>
            </div>

            <div class="col-md-3">
                <ul class="breadcrumbs">
                    <li><a href="Home">Home</a></li>
                    <li>Business Innovation</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <!-- Start Big Heading -->
                <div class="big-title text-center" data-animation="fadeInDown" data-animation-delay="01">
                    <h1><strong>Innovation offers</strong></h1>
                </div>

                <p class="text-center primary-paragraph">
                    At AkaBI, you can find consultants with solid experience and skills in the main programing languages of the market.
                    Regardless of the solution type you are looking for, we can help you in the process of creating and/or
                    maintaining customized business solution that will leverage your business capabilities.
                </p>

            </div>
        </div>

        <!-- Divider -->
        <div class="hr1" style="margin-bottom:50px;"></div>

        <div class="row">

            <div class="col-md-6">

                <!-- Classic Heading -->
                <h4 class="classic-title"><span>Our Skills</span></h4>
                <div class="skill">
                    <p>Front-end Development</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" data-percentage="75">
                            <span class="progress-bar-span">75%</span>
                            <span class="sr-only">75% Complete</span>
                        </div>
                    </div>
                </div>
                <div class="skill-shortcode">
                    <div class="skill">
                        <p>.NET Technologies</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" data-percentage="90">
                                <span class="progress-bar-span">90%</span>
                                <span class="sr-only">90% Complete</span>
                            </div>
                        </div>
                    </div>
                    <div class="skill">
                        <p>JAVA</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" data-percentage="90">
                                <span class="progress-bar-span">90%</span>
                                <span class="sr-only">90% Complete</span>
                            </div>
                        </div>
                    </div>
                    <div class="skill">
                        <p>Quality & Commitment</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" data-percentage="100">
                                <span class="progress-bar-span">100%</span>
                                <span class="sr-only">100% Complete</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-5 col-md-offset-1 tech-images-wrapper">
                <img class="img-responsive" src="~/Content/images/dev-technologies.fw.png" />
            </div>

        </div>

    </div>
</div>

<div class="section other-services">
    <div class="col-md-6 col-sm-12 col-xs-12 img-side">
        <img class="img-responsive" src="~/Content/images/pexels-photo-75083.jpeg" />
    </div>

    <div class="col-md-6 col-sm-12 col-xs-12 text-side">
        <h3>
            APPLICATION DEVELOPMENT
        </h3>

        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 animated fadeIn delay-01" data-animation="fadeIn" data-animation-delay="01">
                <div class="icon-wrapper">
                    <i class="fa fa-keyboard-o icon-medium"></i>
                </div>
                <div class="icon-description">
                    <h4>Back-end Development</h4>
                    <p>
                        We can help you to build and maintain <strong>reliable, high performance</strong>
                        and <strong>well-tested</strong> back-end for your applications.
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12 animated fadeIn delay-01" data-animation="fadeIn" data-animation-delay="01">
                <div class="icon-wrapper">
                    <i class="fa fa-desktop icon-medium"></i>
                </div>
                <div class="icon-description">
                    <h4>Front-end Development</h4>
                    <p>
                        UI/UX is one of the most important features in applications today. We 
                        have great expertise in build <strong>beautiful, modern and responsive layouts</strong>, weather for
                        web, mobile or desktop applications.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 animated fadeIn delay-01" data-animation="fadeIn" data-animation-delay="01">
                <div class="icon-wrapper">
                    <i class="fa fa-handshake-o icon-medium"></i>
                </div>
                <div class="icon-description">
                    <h4>Agile Development Coaching</h4>
                    <p>
                        Starting in Agile methodologies such as Scrum? We can help you to build a nice and clean development
                        process to implant in your company.
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12 animated fadeIn delay-01" data-animation="fadeIn" data-animation-delay="01">
                <div class="icon-wrapper">
                    <i class="fa fa-sitemap icon-medium"></i>
                </div>
                <div class="icon-description">
                    <h4>Architectural Solutions</h4>
                    <p>
                        We step at any level of your projects, to help you build or improve a better architecture solution for
                        your applications.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>

@Html.Partial("_OurClients")