<section id="careers-slider">
    <div id="main-slide" class="carousel slide" data-ride="carousel">

        <ol class="carousel-indicators">
            <li data-target="#main-slide" data-slide-to="0" class="active"></li>
            <li data-target="#main-slide" data-slide-to="1"></li>
        </ol>

        <div class="carousel-inner">

            <div class="item active">
                <img class="img-responsive" src="~/Content/images/people-woman-coffee-meeting.jpg" alt="slider">
                <div class="slider-content">
                    <div class="col-md-12 text-center">
                        <h2 class="animated4 white">
                            <span>Life at <strong>AkaBI</strong></span>
                        </h2>
                        <h3 class="animated5 white">
                            <span>People and culture making a great place to work</span>
                        </h3>
                    </div>
                </div>
            </div>

            <div class="item">
                <img class="img-responsive" src="~/Content/images/pexels-photo-job-pos3.jpeg" alt="slider">
                <div class="slider-content">
                    <div class="col-md-12 text-center">
                        <h2 class="animated2 white">
                            <span>Work <strong>happy</strong>, work <strong>better</strong></span>
                        </h2>
                        <h3 class="animated3 white">
                            <span>#careers@AkaBI</span>
                        </h3>
                    </div>
                </div>
            </div>

        </div>

        <a class="left carousel-control" href="#main-slide" data-slide="prev">
            <span><i class="fa fa-angle-left"></i></span>
        </a>
        <a class="right carousel-control" href="#main-slide" data-slide="next">
            <span><i class="fa fa-angle-right"></i></span>
        </a>
    </div>
</section>
