<div class="section social-events">
    <div class="container">
        <div class="section-video-content text-center">

            <h1 class="fittext wite-text header-custom-font-2">
                AkaBI Moments
            </h1>

            <p class="fittext wite-text">We work hard, but we party harder!</p>

            <div class="row key-facts-container">
                <div class="col-md-3 key-fact-wrapper">
                    <h2><span class="fa fa-beer key-fact-title key-icon"></span></h2>
                    <p><span class="key-fact-label">After Work Celebrations</span></p>
                </div>

                <div class="col-md-3 key-fact-wrapper">
                    <h2><span class="fa fa-bicycle key-fact-title key-icon"></span></h2>
                    <p><span class="key-fact-label">Sport Events</span></p>
                </div>

                <div class="col-md-3 key-fact-wrapper">
                    <h2><span class="fa fa-tree key-fact-title key-icon"></span></h2>
                    <p><span class="key-fact-label">Christmas Parties</span></p>
                </div>

                <div class="col-md-3 key-fact-wrapper">
                    <h2><span class="fa fa-glass key-fact-title key-icon"></span></h2>
                    <p><span class="key-fact-label">Fraternization Dinners</span></p>
                </div>

            </div>

        </div>

    </div>
</div>
