@section pageCss{
    <link href="~/Content/css/career.css" rel="stylesheet" />
    <link href="~/Content/css/key-facts.css" rel="stylesheet" />
}

<div class="page-banner careers-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h2>Careers</h2>
                <p>#CAREERS@AKABI</p>
            </div>

            <div class="col-md-6" style="text-align: center">
                <h1 class="page-banner-main-title" data-animation="fadeInDown" data-animation-delay="01">
                    <strong>People and culture making a GPTW</strong>
                </h1>
            </div>

            <div class="col-md-3">
                <ul class="breadcrumbs">
                    <li><a href="Home">Home</a></li>
                    <li>Careers</li>
                </ul>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_CareerSlider")

@Html.Action("JobOffersSection", "Careers")

@Html.Partial("_WorkAtAkabi")

@Html.Partial("_SocialEvents")

@section scripts{
    <script src="~/Scripts/career-page.js"></script>
}

