<div id="work-at-akabi-section" class="section">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <!-- Start Big Heading -->
                <div class="big-title text-center" data-animation="fadeInDown" data-animation-delay="01">
                    <h1>Working at <strong>AkaBI</strong></h1>
                </div>
                <!-- End Big Heading -->
                <p class="text-center primary-paragraph">
                    At AkaBI, you will find a super relaxed atmosphere, where you have autonomy and are encouraged to make decisions
                    that positively collaborate with the healthy development of the company. We are always looking for new talents,
                    smart and audacious people, eager to grow personally and professionally.
                </p>
            </div>
        </div>

        <div class="row">

            <div class="col-md-4 whys-work-at-akabi">
                <div>
                    <i class="fa fa-users icon-medium" aria-hidden="true"></i>
                </div>
                <h4>Collaborative Management</h4>
                <p>
                    Good ideas can come from anyone, regardless of position, function or area of expertise. Through a
                    participatory management model, we encourage employees to get involved and contribute with us.
                </p>
            </div>


            <div class="col-md-4 whys-work-at-akabi">
                <div>
                    <i class="fa fa-child icon-medium" aria-hidden="true"></i>
                </div>
                <h4>Quality of Life</h4>
                <p>
                    We think first in our employees. At AkaBI, we do everything possible to balance personal and
                    professional life. Here, you can make real friends, and enjoy great moments in a lot of nice events!
                </p>
            </div>


            <div class="col-md-4 whys-work-at-akabi">
                <div>
                    <i class="fa fa-graduation-cap icon-medium" aria-hidden="true"></i>
                </div>
                <h4>Continuous Learning</h4>
                <p>
                    We value people who enjoy challenges and are always searching for new knowledges! Working with us, you can take
                    great advantage of our study partnerships, for a great variety IT/Management certifications.
                </p>
            </div>

        </div>

    </div>
</div>
